# output
output
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

packages/**/dist
node_modules/
dist/
dist-ssr
*.local
coverage

# Editor directories and files
.vscode/*
.history/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MISC
.idea
.cache/
.next/
next-env.d.ts
.nuxt/
tmp/
temp/
.docusaurus

# Remix
examples/remix/public/build
examples/remix/build

# turbo
.turbo
.vercel
.cache
.env
.output
apps/**/public/build
packages/ts-ghost-admin-api/src/playground.ts

# macOS
._*
.DS_Store
Thumbs.db